// Navigation

#topmenu {

  li {
    float: left;
    padding: 1em 0;
    position: relative;
	}

  li:last-child {
    border-right: 0;
	}

  li a {
    background: $light-grey;
    border-right: 1px solid darken($light-grey, 10%);
    padding: 1em;
    text-decoration: none;
	}

  li ul {
    display: none;
    position: absolute;
	}

  li:hover ul {
    display: block;
    margin: 1em 0 0;
  } 
}// Navigation

